#tabla/*, th, td*/
{ 
    background-color: rgb(247, 152, 226);
    border-collapse: collapse;  /*Los bordes de la tabla se pegarán (mejor aspecto) */
    border: 1px solid rgb(88, 17, 56);
    padding: 10px;
    padding-left: 20px;
    font-family: 'Courier New', Courier, monospace;/*fuente*/
    text-align: center;/*alineacion del texto*/
    width: 100%; /*cuanto quiero que ocupe de la pantalla 50%*/
    /*margin: 25px 50px 75px 100px; ARRIBA, DERECHA, ABAJO, IZQUIERDA*/
    border-radius:5px;
    justify-content: center;
    z-index: -1; 
}

#th
{
    border-collapse: collapse;  /*Los bordes de la tabla se pegarán (mejor aspecto) */
    border: 1px solid rgb(88, 17, 56);
    padding: 10px;
    padding-left: 20px;
    border-radius:5px;
}
#btnAgregar
{
    background-color: rgb(33, 202, 70);
    border: 1px solid black;
    color: rgb(221, 234, 240);
    padding: 10px;
    padding-left: 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 50%;
    border-radius:5px;
}

/*
#user, #apellido, #telefono, #fecha
{
    background-color:   rgb(221, 234, 240);
    color: rosybrown;
    border-radius:5px;
}*/

#contenedorAgregar
{
    padding-left: 10px;
    background: whitesmoke;
    border-radius:10px;
    width: 50%;
    font-size: 20px;
    box-shadow: 12px 12px 5px 0px rgba(0,0,0,0.75);
    flex-wrap: wrap; /* Lo uso para que en vez de achicar los div, ponga uno debajo de otro.*/
    position: absolute; 
    top:25%; /*25% este y*/ 
    left:25%; /*25% este, estaria en el medio*/
    right:25%;
   /* z-index: -1;*/
}

#cerrar
{
    background-color: red;
    border: 1px solid black;
    color: white;
    justify-content: right;
    text-align: center;
    font-size: 16px;
    /*margin: 4px 2px;*/
    cursor: pointer;
    /*width: 10%;*/
    border-radius:5px;
}

#btnModificar
{
    background-color:greenyellow;
    border: 1px solid black;
    color: white;
    width: 35%;
    padding-left: 10%;
    
    text-align: center;
    font-size: 16px;
    /*margin: 4px 2px;*/
    cursor: pointer;
    /*width: 10%;*/
    border-radius:5px;
}

#btnEliminar
{
    background-color: red;
    border: 1px solid black;
    color: white;
    padding-right: 10%;
    width: 35%;
    text-align: center;
    font-size: 16px;
    /*margin: 4px 2px;*/
    cursor: pointer;
    /*width: 10%;*/
    border-radius:5px;
}


#loader
{
    flex-wrap: wrap; 
    position: absolute; 
    justify-content: center;
    top:25%; /*25% este y*/ 
    left:25%; /*25% este, estaria en el medio*/
    right:25%;
    bottom: 25%;
    width: 100%;
}

#h1
{
    width: 100%;
    left: 25%;
    right: 25%;
    font-family: 'Courier New', Courier, monospace;/*fuente*/
    text-align: center;
    background-color: rgb(247, 152, 226);
}