#tabla
{ 
    background-color: cadetblue;
    border-collapse: collapse;  /*Los bordes de la tabla se pegarán (mejor aspecto) */
    border: 1px solid rgb(88, 17, 56);
    padding: 10px;
    padding-left: 20px;
    font-family: 'Courier New', Courier, monospace;/*fuente*/
    text-align: center;/*alineacion del texto*/
    width: 100%; /*cuanto quiero que ocupe de la pantalla 50%*/
    /*margin: 25px 50px 75px 100px; ARRIBA, DERECHA, ABAJO, IZQUIERDA*/
    border-radius:5px;
    justify-content: center;
    z-index: -1; 
}


#th, td
{
    border-collapse: collapse;  /*Los bordes de la tabla se pegarán (mejor aspecto) */
    border: 1px solid rgb(88, 17, 56);
    padding: 10px;
    padding-left: 20px;
    border-radius:5px;
}


#btnAgregar
{
    background-color: rgb(33, 202, 70);
    border: 1px solid black;
    color: rgb(221, 234, 240);
    padding: 10px;
    padding-left: 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 50%;
    border-radius:5px;
}

#contenedorAgregar
{
    justify-content: space-between;
    padding-left: 10px;
    background: whitesmoke;
    /*border-radius:10px;*/
    width: 50%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 12px 12px 5px 0px rgba(0,0,0,0.75);
    flex-wrap: wrap; 
    position: absolute;
    top:25%; /*a 25 de arriba*/ 
    left:25%; /*a 25 de la izquierda*/
    right:25%;/*same derecha*/
   /* z-index: -1;*/
}

#divUser
{
    width: 100%;
}

#cerrar
{
    background-color: red;
    border: 1px solid black;
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 5%;
    /*
    border-radius:5px;*/
}


/*nota manejar la posicion desde los div, lo demas desde el boton*/
#divCerrar
{
    display: flex;
    justify-content: flex-end;
}

#btnModificar
{
    background-color: limegreen;
    border: 1px solid black;
    color: white;
    width: 47%;
    text-align: center;
    font-size: 16px;
    /*margin: 4px 2px;*/
    cursor: pointer;
    /*width: 10%;
    border-radius:5px;*/
}

#divbotones
{
    justify-content: space-between;
    flex-direction: row;
}

#btnEliminar
{
    background-color: red;
    border: 1px solid black;
    color: white;
    width: 47%;
    text-align: center;
    font-size: 16px;
    /*margin: 4px 2px;*/
    cursor: pointer;
    /*width: 10%;
    border-radius:5px;*/
}

/*
#divEliminar
{
    
    justify-content: space-between;
}*/


#loader
{
    background-color: black;
    opacity: 0.5;
    flex-wrap: wrap; 
    position: absolute; 
    justify-content: center;
    top:10%; /*25% este y*/ 
    left:25%; /*25% este, estaria en el medio*/
    right:25%;
    bottom: 10%;
    width: 100%;
}

#h1
{
    width: 100%;
    left: 25%;
    right: 25%;
    font-family: 'Courier New', Courier, monospace;/*fuente*/
    text-align: center;
    background-color: darkcyan;
}